@model Dominio.Agenda

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class=".validation-summary-errors">@ViewBag.Msg</div>
    <fieldset>
        <legend>Agenda</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Veiculo)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Veiculo.Id", (SelectList)ViewBag.Veiculo)
            @Html.ValidationMessageFor(model => model.Veiculo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Motorista)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Motorista.Id", (SelectList)ViewBag.Motorista)
            @Html.ValidationMessageFor(model => model.Motorista)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Passageiro)
        </div>
        <div class="editor-field">
            @Html.ListBox("Passageiro.Id", (SelectList)ViewBag.Passageiro)
                @Html.ValidationMessageFor(model => model.Passageiro)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.DataAgendada)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataAgendada)
                @Html.ValidationMessageFor(model => model.DataAgendada)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OrigemDestino)
            </div>
            <div class="editor-field">
                @Html.DropDownList("OrigemDestino")
                @Html.ValidationMessageFor(model => model.OrigemDestino)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Horario)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Horario")
                @Html.ValidationMessageFor(model => model.Horario)
            </div>
            <p>
                <input type="submit" value="Cadastrar" />
                @Html.ActionLink("Voltar", "Index")
            </p>
        </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
