@model Dominio.Agenda

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Agenda</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Veiculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Veiculo)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Motorista)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Motorista)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Passageiro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Passageiro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAgendada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAgendada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrigemDestino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrigemDestino)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Horario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Horario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
