@model Dominio.Agenda

@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Agenda</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataAgendada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAgendada)
            @Html.ValidationMessageFor(model => model.DataAgendada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrigemDestino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrigemDestino)
            @Html.ValidationMessageFor(model => model.OrigemDestino)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Salvar" />
            @Html.ActionLink("Voltar", "Index")
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
