@model IEnumerable<Dominio.Agenda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Painel/Views/Shared/_Painel.cshtml";
}
<script src="~/Scripts/Agenda.js"></script>
<h2>Index</h2>

<div class="divtransparente"></div>
<div class="divconteudo"></div>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataAgendada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigemDestino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataAgendada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigemDestino)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.Id })
        </td>
    </tr>
}

</table>
